<div id="site-header">
  <ul>
    <li id="brand"><%= link_to "Gratifiled", root_path %></li>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Send a file", new_fileshare_path %></li>
  </ul>
</div>