<p>Tired of e-mail bouncing back your files?  Want a simple solution to sharing your documents?  Get ready to be Gratifiled!</p>

<p>Do you want to share a file with someone?</p>
<%= button_to "Yes!", new_document_path, method: :get %>