<div id="home">
  <center><p id="blurb">
    Tired of e-mails bouncing back when you send files?<br>
    Want a simple solution to sharing your documents online?<br>
    <strong>Get ready to be Gratifiled!</strong>
  </p>

  <p id="share-file">
    Do you want to share a file with someone?
  </p>
  <%= button_to "Yes!", new_document_path, method: :get, :class => "button" %>

  </center>
</div>