<p>Hi there <%= @document.name %>,</p>

<p>We wanted to let you know that the following file you sent to <%= @document.recipient_email %> has been downloaded:<p>

<p><%= @document.document_file_name %></p>

<p>Just a reminder this file will be available for approximately <%= @hours_left %> more hours, and will then be removed from our site.</p>

<p>Happy Sharing!<br>
The Gratifiled Team</p>
